.cart-icons {
    width: 45px; 
    height: 45px;
    justify-content: center;
    margin-right: 1rem;
    padding: 0%;
  }
  .number {
    position: absolute;
    font-size: 0.5rem;
    text-align: center;
    color: rgb(245, 245, 245);
    background-color: black;
    border-radius: 25px;
    margin-left: 20px;
  }
  
  .CartButton {
    background-color: rgb(131, 16, 16);
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-family: Muli, sans-serif;
    margin: 1rem;
    padding: 5px;
  }
  .CartButton:hover {
    background-color: red;
  }