.Toolbar {
  color: black;
}
.Toolbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #33b821;
  max-width: 987px;
  margin: 0 auto;
  padding: 0 1rem;
  border-bottom-left-radius: 25%;
}
@media (max-width: 620px) {
  .Toolbar ul {
    display: none;
  }
}