.NavToggle {

  display: none;

  padding: 1rem 1.5rem;
  min-height: 61px;

  background-size: 100%;
  background-color: black;
}

@media (max-width: 620px) {
  .NavToggle {
    display: inline-block;
  }
}