.CategoryItem img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 510px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.CategoryItem {
  position: relative;
  flex: 0 0 30%;
  margin-bottom: 5rem;
}
.CategoryItem a {
  position: absolute;
  bottom: -3.5rem;
  left: 1.5rem;
  right: 1.5rem;
  z-index: 1;
  
  border-radius: 1rem;

  background-color: rgb(102, 131, 88);
  color: rgb(10, 8, 8);
  font-weight: bold;
  font-size: 1.3rem;
  padding: .7rem 1rem 1.2rem;
  text-align: center;
}