.Header {
  position: relative;
  margin-bottom: 5rem;
}

.Header img {
  width: 100%;
  height: 400px;
  min-height: 380px;
  object-fit: cover;
  object-position: center;

  margin: 1rem 0;
  border-radius: 0.8rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, .3);
}
.Header section {
  position: absolute;
  bottom: -4.5rem;
  right: 4rem;
  max-width: 500px;

  background-color: rgb(243, 241, 115);
  padding:  15px ;
  border-radius: 0.8rem;
  font-size: 1.3rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, .3);
}
.Header h1 {
  font-size: 2rem;
}