.CartItem {
  display: flex;
  width: 50%;
  font-size: 1.5rem;

}

.CartItem img {
    width: auto;
    height:400px;
    margin-left: -1rem;
  }

    
@media (min-width: 280px) {
  .CartItem img {
 min-width: 280px;
  }
}
    
.CartItem title a {
    width: 30%;
}

.quantity {
width: 20px;  
height: 210px;
line-height: 1.7cm;
padding-left: 10px;
text-align: center;
font-size: 2rem;
color: rgb(7, 3, 3);
}
.title a {
  display: inline-block;
 color: rgb(0, 0, 0);
 text-align: justify;
 margin-top: 3.7rem;
 padding-top: 2px;
 margin-left: -2rem;
}
.subtotal {
  width: 100px;
  height: 30px;
   margin-top: 15rem;
   margin-left: -4rem;
   padding: 2px ;
}