.NavItem a {
  display: flex;
  padding: 1rem 1.5rem;
  color: rgb(0, 0, 0);
  font-size: 2rem;

  justify-content: center;
}
.NavItem a.active {
  border-color: rgb(3, 2, 2);
}
.NavItem a:hover {
  background-color: rgb(230, 230, 16);
}

@media (max-width: 620px) {
  .NavItem a {
    border-bottom: none;
    border-right: 5px solid transparent;
  }
}
